.sidebar {
    
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  
  
  .sidebar a:hover:not(.active) {
   
    color: white;
   
  }
